/* Itens */
.itens {
  margin: 0 auto;
  display: flex;
  align-content: center;
  gap: 10px;
}

#type {
  border-radius: 5px;
}

@media (max-width: 460px) {
  .itens {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    border-bottom: 1px solid #9f9f9f84;
  }
}

@media (max-width: 1000px) {
  .itens {
    display: flex;
    flex-direction: column;
  }

  .input-group {
    min-width: 100%;
  }

  .btn-item {
    margin-bottom: 2rem;
    border-bottom: 1px solid #d4d1d1;
  }
}
