<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row-cols-12">
    <h2 class="mt-4">Cadastro</h2>
    <div class="itens col-12 mb-3">
      <div class="input-group mb-3 w-75">
        <div class="input-group-prepend">
          <span class="input-group-text" id="name">Descrição</span>
        </div>
        <input type="text" class="form-control" 
        formControlName="name" />
      </div>

      <div class="input-group mb-3 w-25">
        <div class="input-group-prepend">
          <span class="input-group-text" id="value">Valor</span>
        </div>
        <input type="number" 
        class="form-control" formControlName="value" />
      </div>

      <div class="input-group mb-3 w-25">
        <div class="input-group-prepend">
          <span class="input-group-text" id="value">Tipo</span>
        </div>
        <select class="form-select" formControlName="type">
          <option selected>Selecione</option>
          <option value="revenue">Receita</option>
          <option value="expenses">Despesas</option>
        </select>
      </div>
      <div class="btn-item">
        <button type="submit" class="btn btn-danger btn-item" >
          Adicionar
        </button>
      </div>
    </div>
  </div>
</form>
