<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container">

    <a routerLink="/"><mat-icon class="text-light me-3">account_balance</mat-icon></a>
    <a routerLink="/" class="navbar-brand"> Finances</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex">
        <button type="button" class="btn btn-danger btn-outline-light me-4 btn-sm"
          routerLink="register">Cadastro</button>
        <button type="button" class="btn btn-danger btn-light btn-sm" data-bs-toggle="modal"
          data-bs-target="#janelaModal" routerLink="login">Login</button>
      </form>

      <div id="janelaModal" class="modal">

        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">Login</h1>
              <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="main m-2">

                  <form>
                    <div class="form-group">
                      <label for="email"><strong> Endereço de email </strong></label>
                      <input type="email" class="form-control m-1" id="email" placeholder="Seu email">
                    </div>
                    <div class="form-group">
                      <label for="password">Senha</label>
                      <input type="password" class="form-control m-1" id="password" placeholder="Digute sua senha">
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input m-1" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
                    </div>
                    <div class="button float-end">
                      <button type="button" class="btn btn-light m-1" data-bs-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-danger">Entrar</button>
                    </div>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>



    </div>
  </div>
</nav>
