<table
   mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z3"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let items">{{ items.name | titlecase }}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let items">
      {{ items.value | currency : "BRL" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let items">
      <mat-icon
        [ngClass]="items.type == 'saída' ? 'red' : 'green'"
        class="float-start me-2"
        >{{ items.type | type }}
      </mat-icon>
      <p class="text-type">{{ items.type | titlecase }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Alterar</th>
    <td mat-cell *matCellDef="let items">
      {{ items.update }}
      <mat-icon
        title="Clique para editar"
        class="'gray'"
        (click)="getRouteParams(items)"
        >edit</mat-icon
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef>Remover</th>
    <td mat-cell *matCellDef="let items">
      {{ items.remove }}
      <mat-icon
        title="Clique para remover"
        class="red"
        (click)="onDelete(items)"
        >delete</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>


