table {
  width: 100%;
  margin-bottom: 3%;
}

.mat-icon {
  cursor: pointer;
}

.red {
  color: #a41a1a;
}

.green {
  color: #008000;
}

.gray {
  color: #4e4e51;
}

.yellow {
  color: #a1a105;
}

@media (max-width: 460px) {
  p {
    display: none;
  }
}
