<div class="container row-cols-12">
  <div class="cards">
    <mat-card class="card incomes">
      <mat-card-title
        >Receita
        <mat-icon class="float-end text-success">arrow_circle_up</mat-icon>
      </mat-card-title>
      <mat-card-subtitle><strong>R$ </strong>0</mat-card-subtitle>
    </mat-card>

    <mat-card class="card expense">
      <mat-card-title
        >Despesa
        <mat-icon class="float-end text-danger"
          >arrow_circle_down</mat-icon
        ></mat-card-title
      >
      <mat-card-subtitle><strong>R$ </strong>0</mat-card-subtitle>
    </mat-card>

    <mat-card class="card total">
      <mat-card-title
        >Saldo
        <!-- <mat-icon class="float-end">monetization_on</mat-icon></mat-card-title> -->
        <mat-card-subtitle class="float-end balance"
          ><strong>R$ </strong> {{ resultCalculate }}</mat-card-subtitle
        >
        <!-- <mat-card-subtitle class="balance"><strong>R$ </strong> {{ resultCalculate }}</mat-card-subtitle> -->
      </mat-card-title>
    </mat-card>
  </div>

  <!-- transaction form -->
  <h2 class="mt-4 cadastro">Cadastro</h2>

  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="itens">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="name" id="name" />
        <mat-error *ngIf="form.controls.name.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-25">
        <mat-label>Valor</mat-label>
        <input type="number" matInput formControlName="value" id="value" />
        <mat-error *ngIf="form.controls.value.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-50">
        <mat-label>Tipo de operação</mat-label>
        <mat-select formControlName="type" id="type">
          <mat-option value="entrada">Entrada</mat-option>
          <mat-option value="saída">Saída</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.type.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <div class="btn-item">
        <button class="mb-3 bg-danger" mat-fab>
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <!-- Transaction table  -->
  <h2 class="extrato mb-3 mt-2">Extrato</h2>

  <div class="mb-5">
    <app-transaction-table></app-transaction-table>
  </div>
</div>
