/* footer*/
footer {
  position: fixed;
  bottom: 0;
  height: 6%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

span {
  color: #fff;
  font-weight: bold;
}

@media (max-width: 600px) {
  footer {
    height: 10%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }

  p {
    text-align: center;
  }
}
