<div class="container">
  <div class="main">
    <div class="left">
      <h1 class="text-left">O controle de suas finanças em único lugar</h1>
      <p>Esta aplicação foi desenvolvida para auxiliar as pessoas a terem um melhor gerenciamento.</p>
      <p>Registre seus proventos e despesas e tenha um balanço claro e preciso. </p>
      <p>Com Finances você controla seus assuntos financeiros de forma fácil e intuitiva. </p>
      <div class="img-capa text-center">
        <a href="http://www.freepik.com">
          <img src="../../../../assets/img/image1.svg" alt="image author: Designed by stories / Freepik"></a>
      </div>
    </div>
<!-- formulario-->
    <div class="right">
      <app-form-home></app-form-home>
    </div>

  </div>
</div>