<div class="container">
  <div class="main">
    <div class="left">
      <h1 class="text-center float-lg-start">O controle de suas finanças em único lugar</h1>
      <p>Esta aplicação foi desenvolvida para auxiliar as pessoas a terem um melhor gerenciamento financeiro.</p>
      <p>Registre seus proventos e despesas e tenha um balanço claro e preciso. </p>
      <p>Com Finances você controla seus assuntos financeiros de forma fácil e intuitiva. </p>
      <div class="img-capa text-center">
        <img src="../../../../assets/img/image1.svg" alt="">
      </div>
    </div>
    <div class="right">
      <h1 class="text-center">Cadastre-se para acessar </h1>
      <form>
        <div class="form-group">
          <label for="nome"><strong> Nome </strong></label>
          <input type="name" class="form-control m-1" id="name" placeholder="Digite seu nome">
        </div>

        <div class="form-group">
          <label for="email"><strong> Endereço de email </strong></label>
          <input type="email" class="form-control m-1" id="email" placeholder="Digite seu email">
        </div>

        <div class="form-group">
          <label for="password"><strong> Senha </strong></label>
          <input type="password" class="form-control m-1" id="password" placeholder="Digite sua senha">
        </div>

        <div class="form-group">
          <label for="password"><strong> Confirme sua senha </strong></label>
          <input type="password" class="form-control m-1" id="password" placeholder="Confirme sua senha">
        </div>

        <button type="submit" class="btn btn-danger btn-lg float-lg-end">Enviar</button>
      </form>
    </div>
  </div>
</div>
