.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 2%;
}

.left {
  width: 59%;
  height: 500px;
  left: 47px;
  top: 111px;

}

h1 {
  font-size: 1.8rem;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;

}

.left p {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 20px;
}

.img-capa img {
  width: 80%;
  height: 15%;
}

.right {
  width: 39%;
  float: right;
}


