<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">

  <h2 class="mt-4">Editar Transação</h2>
  <div class="container">
    <mat-form-field appearance="fill" class="id">
      <mat-label>ID</mat-label>
      <input matInput [formControl]="form.controls.id" readonly>
    </mat-form-field>
  </div>

  <div class="container">
    <mat-form-field appearance="fill" class="w-50 me-4">
      <mat-label>Descrição</mat-label>
      <input matInput [formControl]="form.controls.name" required>
      <mat-error *ngIf="form.controls.name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="container">
    <mat-form-field appearance="fill" floatLabel="always" class="w-25">
      <mat-label>Valor</mat-label>
      <input matInput type="number" class="example-right-align" formControlName="value">
    </mat-form-field>
    <mat-error *ngIf="form.controls.value.invalid">{{getErrorMessage()}}</mat-error>
  </div>

  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Selecione o tipo da operação</mat-label>
      <mat-select formControlName="type" id="type">
        <mat-option value="entrada">Entrada</mat-option>
        <mat-option value="saida">Saída</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="btn-container mt-3">
      <button mat-raised-button color="secondary" type="submit" class="bg-danger me-2">
        Confirmar
      </button>

      <button mat-raised-button (click)="onBack()">
        Voltar
      </button>
    </div>

  </div>
</form>