<div class="container row-cols-12">
  <!-- Balance Cards -->
  <div class="cards">
    <mat-card class="card incomes">
      <mat-card-title>Entrada
        <mat-icon class="ms-5 text-success">arrow_circle_up</mat-icon>
      </mat-card-title>
      <mat-card-subtitle><strong>R$ </strong>{{ incomes }}</mat-card-subtitle>
    </mat-card>

    <mat-card class="card expense">
      <mat-card-title>Saída 
        <mat-icon class="ms-5 text-danger">arrow_circle_down</mat-icon></mat-card-title>
      <mat-card-subtitle><strong>R$ </strong> {{ incomes }}</mat-card-subtitle>
    </mat-card>

    <mat-card class="card total">
      <mat-card-title>Total
        <mat-icon class="ms-5 text-primary">monetization_on</mat-icon></mat-card-title>
      <mat-card-subtitle><strong>R$ </strong> {{ incomes }}</mat-card-subtitle>
    </mat-card>
  </div>

  <!-- Register Transactions -->
  <h2 class="mt-4">Cadastrar Operações</h2>
  <div class="itens col-12 mb-3">
    <div class="input-group mb-3 w-75">
      <div class="input-group-prepend">
        <span class="input-group-text" id="desc">Descrição</span>
      </div>
      <input type="text" class="form-control" />
    </div>

    <div class="input-group mb-3 w-25">
      <div class="input-group-prepend">
        <span class="input-group-text" id="value">Valor</span>
      </div>
      <input type="number" class="form-control" />
    </div>

    <div class="input-group mb-3 w-25">
      <div class="input-group-prepend">
        <span class="input-group-text" id="value">Tipo</span>
      </div>
      <select class="form-select">
        <option selected>Selecione</option>
        <option value="1">Receita</option>
        <option value="2">Despesas</option>
      </select>
    </div>
    <div class="btn-item">
      <button class="btn btn-danger btn-item">Incluir</button>
    </div>
  </div>
  <h2>Extrato</h2>

  <app-transaction-form></app-transaction-form>
</div>