.container {
  display: flex;
  flex-direction: column;
}

.cards {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  box-shadow: 2px solid black;
  margin: 0 auto;
}

.incomes {
  border: 1px solid #1bbd51;
  border-radius: 15px;
}

.expense {
  border: 1px solid #db3f23;
  border-radius: 15px;
}

.total {
  border: 1px solid #4f6cec;
  border-radius: 15px;
}

@media (min-width: 461px) and (max-width: 531px) {
  .mat-card-title {
    font-size: 1.2em;
  }
}

@media (max-width: 460px) {
  .cards {
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .cards {
    gap: 2rem;
    width: 100%;
  }
}
