<div class="container row-cols-12">
  <!-- Balance Cards -->
  <div class="cards">
    <mat-card class="card incomes">
      <mat-card-title>Entrada
        <mat-icon class="float-end text-success">arrow_circle_up</mat-icon>
      </mat-card-title>
      <mat-card-subtitle><strong>R$ </strong>{{ incomes }}</mat-card-subtitle>
    </mat-card>

    <mat-card class="card expense">
      <mat-card-title>Saída
        <mat-icon class="float-end text-danger">arrow_circle_down</mat-icon></mat-card-title>
      <mat-card-subtitle><strong>R$ </strong> {{ incomes }}</mat-card-subtitle>
    </mat-card>

    <mat-card class="card total">
      <mat-card-title>Total
        <mat-icon class="float-end text-primary">monetization_on</mat-icon></mat-card-title>
      <mat-card-subtitle><strong>R$ </strong> {{ incomes }}</mat-card-subtitle>
    </mat-card>
  </div>

  <app-transaction-form></app-transaction-form>

  <h2>Extrato</h2>

  <div class="mb-5">
    <app-transaction-table></app-transaction-table>
  </div>
</div>
